RoadkillVocaDbAuth/Service References/VocaDbService/QueryService10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://vocaloid.eu/schemas/VocaDb" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:39390/Services/QueryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VocaDb.Model.Service" />
  <xs:import schemaLocation="http://localhost:39390/Services/QueryService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.Albums" />
  <xs:import schemaLocation="http://localhost:39390/Services/QueryService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain" />
  <xs:import schemaLocation="http://localhost:39390/Services/QueryService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.Artists" />
  <xs:import schemaLocation="http://localhost:39390/Services/QueryService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.PVs" />
  <xs:import schemaLocation="http://localhost:39390/Services/QueryService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.Songs" />
  <xs:import schemaLocation="http://localhost:39390/Services/QueryService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/VocaDb.Model.DataContracts.Songs" />
  <xs:import schemaLocation="http://localhost:39390/Services/QueryService.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:39390/Services/QueryService.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/VocaDb.Model.DataContracts" />
  <xs:import schemaLocation="http://localhost:39390/Services/QueryService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.Users" />
  <xs:import schemaLocation="http://localhost:39390/Services/QueryService.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.Globalization" />
  <xs:import schemaLocation="http://localhost:39390/Services/QueryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="FindAlbums">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="term" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxResults" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VocaDb.Model.Service" minOccurs="0" name="nameMatchMode" type="q1:NameMatchMode" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VocaDb.Model.Service" minOccurs="0" name="sort" type="q2:AlbumSortRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAlbumsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="FindAlbumsResult" nillable="true" type="q3:PartialFindResultOfAlbumContractZKwwigZK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PartialFindResultOfAlbumContractZKwwigZK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PartialFindResultOf{0}{#}" Namespace="http://vocaloid.eu/schemas/VocaDb" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AlbumContract" Namespace="http://vocaloid.eu/schemas/VocaDb" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="FoundExactMatch" type="xs:boolean" />
      <xs:element xmlns:q4="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="Items" nillable="true" type="q4:ArrayOfAlbumContract" />
      <xs:element minOccurs="0" name="Term" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q5="http://vocaloid.eu/schemas/VocaDb" name="PartialFindResultOfAlbumContractZKwwigZK" nillable="true" type="q5:PartialFindResultOfAlbumContractZKwwigZK" />
  <xs:complexType name="ArrayOfAlbumContract">
    <xs:sequence>
      <xs:element xmlns:q6="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" maxOccurs="unbounded" name="AlbumContract" nillable="true" type="q6:AlbumContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q7="http://vocaloid.eu/schemas/VocaDb" name="ArrayOfAlbumContract" nillable="true" type="q7:ArrayOfAlbumContract" />
  <xs:complexType name="AlbumContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalNames" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArtistString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.Albums" minOccurs="0" name="DiscType" type="q8:DiscType" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RatingAverage" type="xs:double" />
      <xs:element minOccurs="0" name="RatingCount" type="xs:int" />
      <xs:element xmlns:q9="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="ReleaseDate" nillable="true" type="q9:OptionalDateTimeContract" />
      <xs:element minOccurs="0" name="ReleaseEvent" nillable="true" type="xs:string" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain" minOccurs="0" name="Status" type="q10:EntryStatus" />
      <xs:element minOccurs="0" name="Version" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q11="http://vocaloid.eu/schemas/VocaDb" name="AlbumContract" nillable="true" type="q11:AlbumContract" />
  <xs:complexType name="OptionalDateTimeContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Day" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Formatted" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsEmpty" type="xs:boolean" />
      <xs:element minOccurs="0" name="Month" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Year" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q12="http://vocaloid.eu/schemas/VocaDb" name="OptionalDateTimeContract" nillable="true" type="q12:OptionalDateTimeContract" />
  <xs:element name="FindAlbumsAdvanced">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="term" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxResults" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAlbumsAdvancedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="FindAlbumsAdvancedResult" nillable="true" type="q13:PartialFindResultOfAlbumWithAdditionalNamesContractZKwwigZK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PartialFindResultOfAlbumWithAdditionalNamesContractZKwwigZK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PartialFindResultOf{0}{#}" Namespace="http://vocaloid.eu/schemas/VocaDb" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AlbumWithAdditionalNamesContract" Namespace="http://vocaloid.eu/schemas/VocaDb" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="FoundExactMatch" type="xs:boolean" />
      <xs:element xmlns:q14="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="Items" nillable="true" type="q14:ArrayOfAlbumWithAdditionalNamesContract" />
      <xs:element minOccurs="0" name="Term" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q15="http://vocaloid.eu/schemas/VocaDb" name="PartialFindResultOfAlbumWithAdditionalNamesContractZKwwigZK" nillable="true" type="q15:PartialFindResultOfAlbumWithAdditionalNamesContractZKwwigZK" />
  <xs:complexType name="ArrayOfAlbumWithAdditionalNamesContract">
    <xs:sequence>
      <xs:element xmlns:q16="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" maxOccurs="unbounded" name="AlbumWithAdditionalNamesContract" nillable="true" type="q16:AlbumWithAdditionalNamesContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q17="http://vocaloid.eu/schemas/VocaDb" name="ArrayOfAlbumWithAdditionalNamesContract" nillable="true" type="q17:ArrayOfAlbumWithAdditionalNamesContract" />
  <xs:complexType name="AlbumWithAdditionalNamesContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q18="http://vocaloid.eu/schemas/VocaDb" base="q18:AlbumContract">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q19="http://vocaloid.eu/schemas/VocaDb" name="AlbumWithAdditionalNamesContract" nillable="true" type="q19:AlbumWithAdditionalNamesContract" />
  <xs:element name="FindAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="term" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxResults" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="FindAllResult" nillable="true" type="q20:AllEntriesSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AllEntriesSearchResult">
    <xs:sequence>
      <xs:element xmlns:q21="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="Albums" nillable="true" type="q21:PartialFindResultOfAlbumWithAdditionalNamesContractZKwwigZK" />
      <xs:element xmlns:q22="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="Artists" nillable="true" type="q22:PartialFindResultOfArtistWithAdditionalNamesContractZKwwigZK" />
      <xs:element minOccurs="0" name="Query" nillable="true" type="xs:string" />
      <xs:element xmlns:q23="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="Songs" nillable="true" type="q23:PartialFindResultOfSongWithAlbumContractZKwwigZK" />
      <xs:element xmlns:q24="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="Tags" nillable="true" type="q24:PartialFindResultOfTagContractZKwwigZK" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q25="http://vocaloid.eu/schemas/VocaDb" name="AllEntriesSearchResult" nillable="true" type="q25:AllEntriesSearchResult" />
  <xs:complexType name="PartialFindResultOfArtistWithAdditionalNamesContractZKwwigZK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PartialFindResultOf{0}{#}" Namespace="http://vocaloid.eu/schemas/VocaDb" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArtistWithAdditionalNamesContract" Namespace="http://vocaloid.eu/schemas/VocaDb" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="FoundExactMatch" type="xs:boolean" />
      <xs:element xmlns:q26="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="Items" nillable="true" type="q26:ArrayOfArtistWithAdditionalNamesContract" />
      <xs:element minOccurs="0" name="Term" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q27="http://vocaloid.eu/schemas/VocaDb" name="PartialFindResultOfArtistWithAdditionalNamesContractZKwwigZK" nillable="true" type="q27:PartialFindResultOfArtistWithAdditionalNamesContractZKwwigZK" />
  <xs:complexType name="ArrayOfArtistWithAdditionalNamesContract">
    <xs:sequence>
      <xs:element xmlns:q28="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" maxOccurs="unbounded" name="ArtistWithAdditionalNamesContract" nillable="true" type="q28:ArtistWithAdditionalNamesContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q29="http://vocaloid.eu/schemas/VocaDb" name="ArrayOfArtistWithAdditionalNamesContract" nillable="true" type="q29:ArrayOfArtistWithAdditionalNamesContract" />
  <xs:complexType name="ArtistWithAdditionalNamesContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q30="http://vocaloid.eu/schemas/VocaDb" base="q30:ArtistContract">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q31="http://vocaloid.eu/schemas/VocaDb" name="ArtistWithAdditionalNamesContract" nillable="true" type="q31:ArtistWithAdditionalNamesContract" />
  <xs:complexType name="ArtistContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalNames" nillable="true" type="xs:string" />
      <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.Artists" minOccurs="0" name="ArtistType" type="q32:ArtistType" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain" minOccurs="0" name="Status" type="q33:EntryStatus" />
      <xs:element minOccurs="0" name="Version" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q34="http://vocaloid.eu/schemas/VocaDb" name="ArtistContract" nillable="true" type="q34:ArtistContract" />
  <xs:complexType name="PartialFindResultOfSongWithAlbumContractZKwwigZK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PartialFindResultOf{0}{#}" Namespace="http://vocaloid.eu/schemas/VocaDb" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SongWithAlbumContract" Namespace="http://vocaloid.eu/schemas/VocaDb" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="FoundExactMatch" type="xs:boolean" />
      <xs:element xmlns:q35="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="Items" nillable="true" type="q35:ArrayOfSongWithAlbumContract" />
      <xs:element minOccurs="0" name="Term" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q36="http://vocaloid.eu/schemas/VocaDb" name="PartialFindResultOfSongWithAlbumContractZKwwigZK" nillable="true" type="q36:PartialFindResultOfSongWithAlbumContractZKwwigZK" />
  <xs:complexType name="ArrayOfSongWithAlbumContract">
    <xs:sequence>
      <xs:element xmlns:q37="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" maxOccurs="unbounded" name="SongWithAlbumContract" nillable="true" type="q37:SongWithAlbumContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q38="http://vocaloid.eu/schemas/VocaDb" name="ArrayOfSongWithAlbumContract" nillable="true" type="q38:ArrayOfSongWithAlbumContract" />
  <xs:complexType name="SongWithAlbumContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q39="http://vocaloid.eu/schemas/VocaDb" base="q39:SongContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Album" nillable="true" type="q39:AlbumWithAdditionalNamesContract" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q40="http://vocaloid.eu/schemas/VocaDb" name="SongWithAlbumContract" nillable="true" type="q40:SongWithAlbumContract" />
  <xs:complexType name="SongContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalNames" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArtistString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FavoritedTimes" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NicoId" nillable="true" type="xs:string" />
      <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.PVs" minOccurs="0" name="PVServices" type="q41:PVServices" />
      <xs:element minOccurs="0" name="RatingScore" type="xs:int" />
      <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.Songs" minOccurs="0" name="SongType" type="q42:SongType" />
      <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain" minOccurs="0" name="Status" type="q43:EntryStatus" />
      <xs:element minOccurs="0" name="ThumbUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q44="http://vocaloid.eu/schemas/VocaDb" name="SongContract" nillable="true" type="q44:SongContract" />
  <xs:complexType name="PartialFindResultOfTagContractZKwwigZK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PartialFindResultOf{0}{#}" Namespace="http://vocaloid.eu/schemas/VocaDb" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TagContract" Namespace="http://vocaloid.eu/schemas/VocaDb" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="FoundExactMatch" type="xs:boolean" />
      <xs:element xmlns:q45="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="Items" nillable="true" type="q45:ArrayOfTagContract" />
      <xs:element minOccurs="0" name="Term" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q46="http://vocaloid.eu/schemas/VocaDb" name="PartialFindResultOfTagContractZKwwigZK" nillable="true" type="q46:PartialFindResultOfTagContractZKwwigZK" />
  <xs:complexType name="ArrayOfTagContract">
    <xs:sequence>
      <xs:element xmlns:q47="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" maxOccurs="unbounded" name="TagContract" nillable="true" type="q47:TagContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q48="http://vocaloid.eu/schemas/VocaDb" name="ArrayOfTagContract" nillable="true" type="q48:ArrayOfTagContract" />
  <xs:complexType name="TagContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="AliasedTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q49="http://vocaloid.eu/schemas/VocaDb" name="TagContract" nillable="true" type="q49:TagContract" />
  <xs:element name="FindArtists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="term" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxResults" type="xs:int" />
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/VocaDb.Model.Service" minOccurs="0" name="nameMatchMode" type="q50:NameMatchMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindArtistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="FindArtistsResult" nillable="true" type="q51:PartialFindResultOfArtistWithAdditionalNamesContractZKwwigZK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMikuDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="term" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMikuDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindMikuDBResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSongs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="term" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxResults" type="xs:int" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/VocaDb.Model.Service" minOccurs="0" name="nameMatchMode" type="q52:NameMatchMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSongsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="FindSongsResult" nillable="true" type="q53:PartialFindResultOfSongWithAlbumAndPVsContractoTF1Br6_P" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PartialFindResultOfSongWithAlbumAndPVsContractoTF1Br6_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PartialFindResultOf{0}{#}" Namespace="http://vocaloid.eu/schemas/VocaDb" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SongWithAlbumAndPVsContract" Namespace="http://schemas.datacontract.org/2004/07/VocaDb.Model.DataContracts.Songs" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="FoundExactMatch" type="xs:boolean" />
      <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/VocaDb.Model.DataContracts.Songs" minOccurs="0" name="Items" nillable="true" type="q54:ArrayOfSongWithAlbumAndPVsContract" />
      <xs:element minOccurs="0" name="Term" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q55="http://vocaloid.eu/schemas/VocaDb" name="PartialFindResultOfSongWithAlbumAndPVsContractoTF1Br6_P" nillable="true" type="q55:PartialFindResultOfSongWithAlbumAndPVsContractoTF1Br6_P" />
  <xs:complexType name="ArrayOfPVContract">
    <xs:sequence>
      <xs:element xmlns:q56="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" maxOccurs="unbounded" name="PVContract" nillable="true" type="q56:PVContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q57="http://vocaloid.eu/schemas/VocaDb" name="ArrayOfPVContract" nillable="true" type="q57:ArrayOfPVContract" />
  <xs:complexType name="PVContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PVId" nillable="true" type="xs:string" />
      <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.PVs" minOccurs="0" name="PVType" type="q58:PVType" />
      <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.PVs" minOccurs="0" name="Service" type="q59:PVService" />
      <xs:element minOccurs="0" name="ThumbUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q60="http://vocaloid.eu/schemas/VocaDb" name="PVContract" nillable="true" type="q60:PVContract" />
  <xs:element name="FindTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="term" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxResults" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FindTagsResult" nillable="true" type="q61:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlbumDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="term" nillable="true" type="xs:string" />
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/VocaDb.Model.Service" minOccurs="0" name="sort" type="q62:AlbumSortRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlbumDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="GetAlbumDetailsResult" nillable="true" type="q63:AlbumContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlbumById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlbumByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="GetAlbumByIdResult" nillable="true" type="q64:AlbumDetailsContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AlbumDetailsContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q65="http://vocaloid.eu/schemas/VocaDb" base="q65:AlbumWithAdditionalNamesContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="AlbumForUser" nillable="true" type="q65:AlbumForUserContract" />
          <xs:element minOccurs="0" name="ArtistLinks" nillable="true" type="q65:ArrayOfArtistForAlbumContract" />
          <xs:element minOccurs="0" name="CommentCount" type="xs:int" />
          <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Hits" type="xs:int" />
          <xs:element minOccurs="0" name="LatestComments" nillable="true" type="q65:ArrayOfCommentContract" />
          <xs:element minOccurs="0" name="OriginalRelease" nillable="true" type="q65:AlbumReleaseContract" />
          <xs:element minOccurs="0" name="OwnedCount" type="xs:int" />
          <xs:element minOccurs="0" name="PVs" nillable="true" type="q65:ArrayOfPVContract" />
          <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/VocaDb.Model.DataContracts" minOccurs="0" name="Pictures" nillable="true" type="q66:ArrayOfEntryPictureFileContract" />
          <xs:element minOccurs="0" name="Songs" nillable="true" type="q65:ArrayOfSongInAlbumContract" />
          <xs:element minOccurs="0" name="Tags" nillable="true" type="q65:ArrayOfTagUsageContract" />
          <xs:element minOccurs="0" name="WebLinks" nillable="true" type="q65:ArrayOfWebLinkContract" />
          <xs:element minOccurs="0" name="WishlistCount" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q67="http://vocaloid.eu/schemas/VocaDb" name="AlbumDetailsContract" nillable="true" type="q67:AlbumDetailsContract" />
  <xs:complexType name="AlbumForUserContract">
    <xs:sequence>
      <xs:element xmlns:q68="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="Album" nillable="true" type="q68:AlbumWithAdditionalNamesContract" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.Users" minOccurs="0" name="MediaType" type="q69:MediaType" />
      <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.Users" minOccurs="0" name="PurchaseStatus" type="q70:PurchaseStatus" />
      <xs:element minOccurs="0" name="Rating" type="xs:int" />
      <xs:element xmlns:q71="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="User" nillable="true" type="q71:UserContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q72="http://vocaloid.eu/schemas/VocaDb" name="AlbumForUserContract" nillable="true" type="q72:AlbumForUserContract" />
  <xs:complexType name="UserContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q73="http://vocaloid.eu/schemas/VocaDb" base="q73:UserBaseContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="AdditionalPermissions" nillable="true" type="q73:ArrayOfPermissionToken" />
          <xs:element minOccurs="0" name="AnonymousActivity" type="xs:boolean" />
          <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Culture" nillable="true" type="xs:string" />
          <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.Globalization" minOccurs="0" name="DefaultLanguageSelection" type="q74:ContentLanguagePreference" />
          <xs:element minOccurs="0" name="EffectivePermissions" nillable="true" type="q73:ArrayOfPermissionToken" />
          <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.Users" minOccurs="0" name="EmailOptions" type="q75:UserEmailOptions" />
          <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.Users" minOccurs="0" name="GroupId" type="q76:UserGroupId" />
          <xs:element minOccurs="0" name="HasUnreadMessages" type="xs:boolean" />
          <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
          <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.PVs" minOccurs="0" name="PreferredVideoService" type="q77:PVService" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q78="http://vocaloid.eu/schemas/VocaDb" name="UserContract" nillable="true" type="q78:UserContract" />
  <xs:complexType name="UserBaseContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q79="http://vocaloid.eu/schemas/VocaDb" name="UserBaseContract" nillable="true" type="q79:UserBaseContract" />
  <xs:complexType name="ArrayOfPermissionToken">
    <xs:sequence>
      <xs:element xmlns:q80="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" maxOccurs="unbounded" name="PermissionToken" type="q80:PermissionToken" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q81="http://vocaloid.eu/schemas/VocaDb" name="ArrayOfPermissionToken" nillable="true" type="q81:ArrayOfPermissionToken" />
  <xs:complexType name="PermissionToken">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q82="http://vocaloid.eu/schemas/VocaDb" name="PermissionToken" nillable="true" type="q82:PermissionToken" />
  <xs:complexType name="ArrayOfArtistForAlbumContract">
    <xs:sequence>
      <xs:element xmlns:q83="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" maxOccurs="unbounded" name="ArtistForAlbumContract" nillable="true" type="q83:ArtistForAlbumContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q84="http://vocaloid.eu/schemas/VocaDb" name="ArrayOfArtistForAlbumContract" nillable="true" type="q84:ArrayOfArtistForAlbumContract" />
  <xs:complexType name="ArtistForAlbumContract">
    <xs:sequence>
      <xs:element xmlns:q85="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="Album" nillable="true" type="q85:AlbumWithAdditionalNamesContract" />
      <xs:element xmlns:q86="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="Artist" nillable="true" type="q86:ArtistWithAdditionalNamesContract" />
      <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.Artists" minOccurs="0" name="Categories" type="q87:ArtistCategories" />
      <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.Artists" minOccurs="0" name="EffectiveRoles" type="q88:ArtistRoles" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsSupport" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.Artists" minOccurs="0" name="Roles" type="q89:ArtistRoles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q90="http://vocaloid.eu/schemas/VocaDb" name="ArtistForAlbumContract" nillable="true" type="q90:ArtistForAlbumContract" />
  <xs:complexType name="ArrayOfCommentContract">
    <xs:sequence>
      <xs:element xmlns:q91="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" maxOccurs="unbounded" name="CommentContract" nillable="true" type="q91:CommentContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q92="http://vocaloid.eu/schemas/VocaDb" name="ArrayOfCommentContract" nillable="true" type="q92:ArrayOfCommentContract" />
  <xs:complexType name="CommentContract">
    <xs:sequence>
      <xs:element xmlns:q93="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="Author" nillable="true" type="q93:UserBaseContract" />
      <xs:element minOccurs="0" name="AuthorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q94="http://vocaloid.eu/schemas/VocaDb" name="CommentContract" nillable="true" type="q94:CommentContract" />
  <xs:complexType name="AlbumReleaseContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="CatNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
      <xs:element xmlns:q95="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="ReleaseDate" nillable="true" type="q95:OptionalDateTimeContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q96="http://vocaloid.eu/schemas/VocaDb" name="AlbumReleaseContract" nillable="true" type="q96:AlbumReleaseContract" />
  <xs:complexType name="ArrayOfSongInAlbumContract">
    <xs:sequence>
      <xs:element xmlns:q97="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" maxOccurs="unbounded" name="SongInAlbumContract" nillable="true" type="q97:SongInAlbumContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q98="http://vocaloid.eu/schemas/VocaDb" name="ArrayOfSongInAlbumContract" nillable="true" type="q98:ArrayOfSongInAlbumContract" />
  <xs:complexType name="SongInAlbumContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiscNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q99="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="Song" nillable="true" type="q99:SongWithAdditionalNamesContract" />
      <xs:element minOccurs="0" name="TrackNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q100="http://vocaloid.eu/schemas/VocaDb" name="SongInAlbumContract" nillable="true" type="q100:SongInAlbumContract" />
  <xs:complexType name="SongWithAdditionalNamesContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q101="http://vocaloid.eu/schemas/VocaDb" base="q101:SongContract">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q102="http://vocaloid.eu/schemas/VocaDb" name="SongWithAdditionalNamesContract" nillable="true" type="q102:SongWithAdditionalNamesContract" />
  <xs:complexType name="ArrayOfTagUsageContract">
    <xs:sequence>
      <xs:element xmlns:q103="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" maxOccurs="unbounded" name="TagUsageContract" nillable="true" type="q103:TagUsageContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q104="http://vocaloid.eu/schemas/VocaDb" name="ArrayOfTagUsageContract" nillable="true" type="q104:ArrayOfTagUsageContract" />
  <xs:complexType name="TagUsageContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q105="http://vocaloid.eu/schemas/VocaDb" name="TagUsageContract" nillable="true" type="q105:TagUsageContract" />
  <xs:complexType name="ArrayOfWebLinkContract">
    <xs:sequence>
      <xs:element xmlns:q106="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" maxOccurs="unbounded" name="WebLinkContract" nillable="true" type="q106:WebLinkContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q107="http://vocaloid.eu/schemas/VocaDb" name="ArrayOfWebLinkContract" nillable="true" type="q107:ArrayOfWebLinkContract" />
  <xs:complexType name="WebLinkContract">
    <xs:sequence>
      <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain" minOccurs="0" name="Category" type="q108:WebLinkCategory" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescriptionOrUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q109="http://vocaloid.eu/schemas/VocaDb" name="WebLinkContract" nillable="true" type="q109:WebLinkContract" />
  <xs:element name="GetArtistDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="term" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtistDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="GetArtistDetailsResult" nillable="true" type="q110:ArtistDetailsContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArtistDetailsContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q111="http://vocaloid.eu/schemas/VocaDb" base="q111:ArtistWithAdditionalNamesContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="AllNames" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CommentCount" type="xs:int" />
          <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Draft" type="xs:boolean" />
          <xs:element minOccurs="0" name="FollowCount" type="xs:int" />
          <xs:element minOccurs="0" name="Groups" nillable="true" type="q111:ArrayOfGroupForArtistContract" />
          <xs:element minOccurs="0" name="IsAdded" type="xs:boolean" />
          <xs:element minOccurs="0" name="LatestAlbums" nillable="true" type="q111:ArrayOfAlbumContract" />
          <xs:element minOccurs="0" name="LatestComments" nillable="true" type="q111:ArrayOfCommentContract" />
          <xs:element minOccurs="0" name="LatestSongs" nillable="true" type="q111:ArrayOfSongContract" />
          <xs:element minOccurs="0" name="Members" nillable="true" type="q111:ArrayOfGroupForArtistContract" />
          <xs:element minOccurs="0" name="OwnerUsers" nillable="true" type="q111:ArrayOfUserContract" />
          <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/VocaDb.Model.DataContracts" minOccurs="0" name="Pictures" nillable="true" type="q112:ArrayOfEntryPictureFileContract" />
          <xs:element minOccurs="0" name="Tags" nillable="true" type="q111:ArrayOfTagUsageContract" />
          <xs:element minOccurs="0" name="TopAlbums" nillable="true" type="q111:ArrayOfAlbumContract" />
          <xs:element minOccurs="0" name="TopSongs" nillable="true" type="q111:ArrayOfSongContract" />
          <xs:element minOccurs="0" name="TranslatedName" nillable="true" type="q111:TranslatedStringContract" />
          <xs:element minOccurs="0" name="WebLinks" nillable="true" type="q111:ArrayOfWebLinkContract" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q113="http://vocaloid.eu/schemas/VocaDb" name="ArtistDetailsContract" nillable="true" type="q113:ArtistDetailsContract" />
  <xs:complexType name="ArrayOfGroupForArtistContract">
    <xs:sequence>
      <xs:element xmlns:q114="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" maxOccurs="unbounded" name="GroupForArtistContract" nillable="true" type="q114:GroupForArtistContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q115="http://vocaloid.eu/schemas/VocaDb" name="ArrayOfGroupForArtistContract" nillable="true" type="q115:ArrayOfGroupForArtistContract" />
  <xs:complexType name="GroupForArtistContract">
    <xs:sequence>
      <xs:element xmlns:q116="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="Group" nillable="true" type="q116:ArtistWithAdditionalNamesContract" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q117="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="Member" nillable="true" type="q117:ArtistWithAdditionalNamesContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q118="http://vocaloid.eu/schemas/VocaDb" name="GroupForArtistContract" nillable="true" type="q118:GroupForArtistContract" />
  <xs:complexType name="ArrayOfSongContract">
    <xs:sequence>
      <xs:element xmlns:q119="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" maxOccurs="unbounded" name="SongContract" nillable="true" type="q119:SongContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q120="http://vocaloid.eu/schemas/VocaDb" name="ArrayOfSongContract" nillable="true" type="q120:ArrayOfSongContract" />
  <xs:complexType name="ArrayOfUserContract">
    <xs:sequence>
      <xs:element xmlns:q121="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" maxOccurs="unbounded" name="UserContract" nillable="true" type="q121:UserContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q122="http://vocaloid.eu/schemas/VocaDb" name="ArrayOfUserContract" nillable="true" type="q122:ArrayOfUserContract" />
  <xs:complexType name="TranslatedStringContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Default" nillable="true" type="xs:string" />
      <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.Globalization" minOccurs="0" name="DefaultLanguage" type="q123:ContentLanguageSelection" />
      <xs:element minOccurs="0" name="English" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Japanese" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Romaji" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q124="http://vocaloid.eu/schemas/VocaDb" name="TranslatedStringContract" nillable="true" type="q124:TranslatedStringContract" />
  <xs:element name="GetArtistById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtistByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="GetArtistByIdResult" nillable="true" type="q125:ArtistDetailsContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtistsWithYoutubeChannels">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.Globalization" minOccurs="0" name="languagePreference" type="q126:ContentLanguagePreference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtistsWithYoutubeChannelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="GetArtistsWithYoutubeChannelsResult" nillable="true" type="q127:ArrayOfArtistForApiContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfArtistForApiContract">
    <xs:sequence>
      <xs:element xmlns:q128="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" maxOccurs="unbounded" name="ArtistForApiContract" nillable="true" type="q128:ArtistForApiContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q129="http://vocaloid.eu/schemas/VocaDb" name="ArrayOfArtistForApiContract" nillable="true" type="q129:ArrayOfArtistForApiContract" />
  <xs:complexType name="ArtistForApiContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q130="http://vocaloid.eu/schemas/VocaDb" base="q130:ArtistContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Groups" nillable="true" type="q130:ArrayOfArtistContract" />
          <xs:element minOccurs="0" name="Members" nillable="true" type="q130:ArrayOfArtistContract" />
          <xs:element minOccurs="0" name="Tags" nillable="true" type="q130:ArrayOfTagUsageContract" />
          <xs:element minOccurs="0" name="WebLinks" nillable="true" type="q130:ArrayOfArchivedWebLinkContract" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q131="http://vocaloid.eu/schemas/VocaDb" name="ArtistForApiContract" nillable="true" type="q131:ArtistForApiContract" />
  <xs:complexType name="ArrayOfArtistContract">
    <xs:sequence>
      <xs:element xmlns:q132="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" maxOccurs="unbounded" name="ArtistContract" nillable="true" type="q132:ArtistContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q133="http://vocaloid.eu/schemas/VocaDb" name="ArrayOfArtistContract" nillable="true" type="q133:ArrayOfArtistContract" />
  <xs:complexType name="ArrayOfArchivedWebLinkContract">
    <xs:sequence>
      <xs:element xmlns:q134="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" maxOccurs="unbounded" name="ArchivedWebLinkContract" nillable="true" type="q134:ArchivedWebLinkContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q135="http://vocaloid.eu/schemas/VocaDb" name="ArrayOfArchivedWebLinkContract" nillable="true" type="q135:ArrayOfArchivedWebLinkContract" />
  <xs:complexType name="ArchivedWebLinkContract">
    <xs:sequence>
      <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain" minOccurs="0" name="Category" type="q136:WebLinkCategory" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q137="http://vocaloid.eu/schemas/VocaDb" name="ArchivedWebLinkContract" nillable="true" type="q137:ArchivedWebLinkContract" />
  <xs:element name="GetSongById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSongByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="GetSongByIdResult" nillable="true" type="q138:SongDetailsContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SongDetailsContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalNames" nillable="true" type="xs:string" />
      <xs:element xmlns:q139="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="Albums" nillable="true" type="q139:ArrayOfAlbumContract" />
      <xs:element xmlns:q140="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="AlternateVersions" nillable="true" type="q140:ArrayOfSongContract" />
      <xs:element minOccurs="0" name="ArtistString" nillable="true" type="xs:string" />
      <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/VocaDb.Model.DataContracts.Songs" minOccurs="0" name="Artists" nillable="true" type="q141:ArrayOfArtistForSongContract" />
      <xs:element minOccurs="0" name="CommentCount" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Hits" type="xs:int" />
      <xs:element xmlns:q142="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="LatestComments" nillable="true" type="q142:ArrayOfCommentContract" />
      <xs:element minOccurs="0" name="LikeCount" type="xs:int" />
      <xs:element xmlns:q143="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="LyricsFromParents" nillable="true" type="q143:ArrayOfLyricsForSongContract" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element xmlns:q144="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="OriginalVersion" nillable="true" type="q144:SongContract" />
      <xs:element xmlns:q145="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="PVs" nillable="true" type="q145:ArrayOfPVContract" />
      <xs:element xmlns:q146="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="Pools" nillable="true" type="q146:ArrayOfSongListBaseContract" />
      <xs:element xmlns:q147="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="Song" nillable="true" type="q147:SongContract" />
      <xs:element xmlns:q148="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="Tags" nillable="true" type="q148:ArrayOfTagUsageContract" />
      <xs:element xmlns:q149="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="TranslatedName" nillable="true" type="q149:TranslatedStringContract" />
      <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.Songs" minOccurs="0" name="UserRating" type="q150:SongVoteRating" />
      <xs:element xmlns:q151="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="WebLinks" nillable="true" type="q151:ArrayOfWebLinkContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q152="http://vocaloid.eu/schemas/VocaDb" name="SongDetailsContract" nillable="true" type="q152:SongDetailsContract" />
  <xs:complexType name="ArrayOfLyricsForSongContract">
    <xs:sequence>
      <xs:element xmlns:q153="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" maxOccurs="unbounded" name="LyricsForSongContract" nillable="true" type="q153:LyricsForSongContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q154="http://vocaloid.eu/schemas/VocaDb" name="ArrayOfLyricsForSongContract" nillable="true" type="q154:ArrayOfLyricsForSongContract" />
  <xs:complexType name="LyricsForSongContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.Globalization" minOccurs="0" name="Language" type="q155:ContentLanguageSelection" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q156="http://vocaloid.eu/schemas/VocaDb" name="LyricsForSongContract" nillable="true" type="q156:LyricsForSongContract" />
  <xs:complexType name="ArrayOfSongListBaseContract">
    <xs:sequence>
      <xs:element xmlns:q157="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" maxOccurs="unbounded" name="SongListBaseContract" nillable="true" type="q157:SongListBaseContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q158="http://vocaloid.eu/schemas/VocaDb" name="ArrayOfSongListBaseContract" nillable="true" type="q158:ArrayOfSongListBaseContract" />
  <xs:complexType name="SongListBaseContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q159="http://vocaloid.eu/schemas/VocaDb" name="SongListBaseContract" nillable="true" type="q159:SongListBaseContract" />
  <xs:element name="GetSongDetailsByNameArtistAndAlbum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="artist" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="album" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSongDetailsByNameArtistAndAlbumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q160="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="GetSongDetailsByNameArtistAndAlbumResult" nillable="true" type="q160:SongDetailsContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSongDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="term" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSongDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="GetSongDetailsResult" nillable="true" type="q161:SongDetailsContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSongListById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSongListByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q162="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="GetSongListByIdResult" nillable="true" type="q162:SongListContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SongListContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q163="http://vocaloid.eu/schemas/VocaDb" base="q163:SongListBaseContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Author" nillable="true" type="q163:UserContract" />
          <xs:element minOccurs="0" name="CanEdit" type="xs:boolean" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element xmlns:q164="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.Songs" minOccurs="0" name="FeaturedCategory" type="q164:SongListFeaturedCategory" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q165="http://vocaloid.eu/schemas/VocaDb" name="SongListContract" nillable="true" type="q165:SongListContract" />
  <xs:element name="GetTagByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q166="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="GetTagByNameResult" nillable="true" type="q166:TagContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q167="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="GetUserInfoResult" nillable="true" type="q167:UserContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlbumByLinkUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlbumByLinkUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q168="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="GetAlbumByLinkUrlResult" nillable="true" type="q168:AlbumWithAdditionalNamesContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomSongLyrics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomSongLyricsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q169="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="GetRandomSongLyricsResult" nillable="true" type="q169:LyricsForSongContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSongWithPV">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q170="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.PVs" minOccurs="0" name="service" type="q170:PVService" />
        <xs:element minOccurs="0" name="pvId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSongWithPVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q171="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="GetSongWithPVResult" nillable="true" type="q171:SongWithAdditionalNamesContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accessKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q172="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="GetUserResult" nillable="true" type="q172:UserContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>